[Desktop Entry]
Encoding=UTF-8
Name=UnitConverter
Comment=Plasmoid to do unit conversion (binary to decimal, energy, volume etc.)
Type=Service

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Maxime Haselbauer
X-KDE-PluginInfo-Email=maxime.haselbauer@googlemail.com
X-KDE-PluginInfo-License=GPL

X-KDE-PluginInfo-Name=org.kde.unitconverter
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=

X-KDE-PluginInfo-Category=Windows and Tasks
Icon=applications-education
